.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media__item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  &:not(:last-child) {
    margin-right: 10px;
  }
  width: 44px;
  height: 44px;
  border-radius: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $color-accent;
  }
}

.social-media__icon {
  fill: $color-logo;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .social-media__item:hover &,
  .social-media__item:focus & {
    fill: $color-white;
  }
}
