body {
  font-family: $font-main;
  letter-spacing: 0.03em;
  font-size: 14px;
  color: $color-main;
  background-color: $color-white;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  width: 480px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
